* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

#select {
  width: 100%;
  background: white;
  box-shadow: 0 5px 5px rgba(176, 176, 176, 0.4);
  padding: 20px;
  position: absolute;
  z-index: 10;
}

#map {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.leaflet-top {
  top: 90px !important;
}

.leaflet-default-icon-path {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/images/marker-icon.png) !important;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-control-attribution {
  display: none !important;
}

.getDirectionBtn {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  background: green;
  color: white;
  border: none;
}

place-list {
  display: flex;
  flex-wrap: wrap;
}

place {
  margin: 30px;
  width: 20%;
}

.place_card_container {
  border-radius: 5px;
  color: black;
  border: 1px solid rgb(66, 133, 244);
  overflow: hidden;
  font: 1.3em 'Open Sans', sans-serif;
}

.place_card_location,
.place_card_description,
.place_card_address {
  float: left;
}

.place_card_info {
  clear: left;
  padding: 10px 30px;
  overflow: hidden;
}

.place_card_info:first-of-type {
  background: rgb(66, 133, 244);
}

.place_card_header img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.place_card_name_place {
  color: white;
}

.from_places_to_main{
  position: absolute;
}

@media (max-width: 992px) {
  place {
    width: 40%;
  }
}

@media (max-width: 600px) {
  place {
    width: 100%;
  }
}