* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-y: hidden !important;
}

#select {
  width: 100%;
  background: white;
  box-shadow: 0 5px 5px rgba(176, 176, 176, 0.4);
  padding: 20px;
  position: absolute;
  z-index: 10;
}

#map {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.leaflet-top {
  top: 90px !important;
}

.leaflet-default-icon-path {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/images/marker-icon.png) !important;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}